.answer {

}

.green {
    color: greenyellow;
    font-weight: bolder;
}

body {
    font-family: ".AppleSystemUIFont";
    letter-spacing: 1.2px;
}

h1 {
    font-family: lora,serif;
    font-weight: 400;
    font-style: normal;
}
